body {
    background:black;
    color:gray;
}

header, main, nav, footer {
    text-align: center;
}

nav a {
    padding:15px;
    padding-bottom: 4px;
    font-size:1.8em;
    text-decoration: none;
    color: white;
}

nav a:hover {
    border-bottom:2px orange solid;
    font-size:2em;
    transition:.9s;
}

#Self {
    float:left;
}

#Blurb {
    float:left;
    text-align: left;
}
#Logo {
    float: left;
}

#Disclaimer {
    float:left;
    color:white;
}

footer {
    clear:left;
}

#Title {
    background-color:black;
    color:white;
    text-align: center;
    font-size:54px;
    margin:0px auto;
}


.MenuBar {
    font-size:48px;
    padding-left: 10px;
    padding-right: 10px;
}

.current {
    background-color: gray;
    padding-left: 10px;
    padding-right: 10px;
}