body {
    background:black;
    color:gray;
}

header, main, nav, footer {
    text-align: center;
}

nav a {
    padding:15px;
    padding-bottom: 4px;
    font-size:1.8em;
    text-decoration: none;
    color: white;
}

nav a:hover {
    border-bottom:2px orange solid;
    font-size:2em;
    transition:.9s;
}

#Self {
    float:left;
}

#Blurb {
    float:left;
    text-align: left;
}
#Logo {
    padding-left:250px;
    float: left;
}

#Disclaimer {
    padding-top: 30px;
    float:left;
    color:white;
}

footer {
    margin: 0px auto;
    clear:left;
}

#Title {
    color:white;
    text-align: center;
    font-size:54px;
    margin:0px auto;
}

.Current {
    color:orange;
}
