body, html {
    height: 100%;
}

#leftWon, #rightWon, #tieGame {
    display: none;
}


.award{
    height: 75px;
    width:75px;
}

.pic{
    height:290px;
    width: 340px;
}

.bg {
    /* The image used */
    background-color:black;
    background-image: url("../img/Frame.png");

    /* Full height */
    /*height: 100%; */

    /* Center and scale the image nicely */
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    
    color:white;
}

tagline{
    top:0px;
    left:150px;
    position: absolute;
    font-size:1.5em;
    color: darkred;
    text-shadow: 2px 2px #ff0000;
}

label{
    top:120px;
    left:30px;
    position: absolute;
    font-size:1em;
    color: red;
}

#Fighter1{
    position: absolute;
    top:180px;
    left:145px;
    color:white;
}

#Fighter2{
    position: absolute;
    top:180px;
    left:665px;
    color:white;
}

#leftFighter{
    position: absolute;
    margin-top:260px;
    margin-left: 210px;
    text-align: center;
}

#rightFighter{
    position: absolute;
    margin-top:260px;
    margin-left: 710px;
    text-align: center;
}

#leftWon{
    position: absolute;
    margin-left: 330px;
    margin-top: 100px;
    text-align: center;
}

#rightWon{
    position: absolute;
    margin-left: 850px;
    margin-top: 100px;
    text-align: center;
}

#tieGame{
    position: absolute;
    text-align: center;
    margin-left: 603px;
    margin-top:310px;
    color:red;
}

#redButton{
    position: absolute;
    top:50px;
    left:29px;
}