body {
    background:green;
}

nav, header {
    text-align: center;
}

nav a {
    padding:15px;
    padding-bottom: 4px;
    font-size:1.8em;
    text-decoration: none;
    color: white;
}

nav a:hover {
    border-bottom:2px orange solid;
    font-size:2em;
    transition:.9s;
}

.Current {
    color:darkorange;
    font-size:2em;
}

#Graphic {
    padding-left: 250px;
    margin:0px auto;
}

#Title {
    color:white;
    font-size:54px;
    margin:0px auto;
    margin-bottom: 0px;
}