body {
    background-color:black;
    color:white;
    text-align: center;
}

h1 {
    text-align: center;
}

label {
  display: inline-block;
  width: 140px;
  text-align: right;
}


#left{
    float:left;
}

#right{
    float:right;
}

.outerBorder{
    border:20px;
    border-style:groove;
    border-color:navy;
    border-radius:10px;
    background-color:#990000;
    color:white;
}