body{
    text-align:center;
    background-color:black;
    color:white;
}

a{
    text-align:center;
    text-decoration:none;
    background-color:black;
    border:5px;
    border-style:groove;
    border-color:white;
    border-radius:10px;
    padding: 0px 10px;

}


li{
    margin: 25px 0px;
    list-style:none;
}

a:link{
    font-size:1.5em;
    color:white;
}

a:visited{
    font-size:1.5em;
    color:#CCCCCC;
}

a:hover{
    font-size:1.5em;
    color:#FF0000;
}

.outerBorder{
    border:20px;
    border-style:groove;
    border-color:navy;
    border-radius:10px;
    background-color:#990000;
    color:white;
}

.entries{
    text-align:left;
}

#homework{
    float:left;
    margin-left: 12px;
    display:block;
    height:70%;
    width:45%;
}

#lab{
    float:right;
    margin-right: 12px;
    display:block;
    height:70%;
    width:45%;
}

#title{
    margin: 10px auto;
    display:block;
    width:40%;
}



